<div class="footer">
    <p>Beersheep Garden</p>
    <p>Kneginje Zorke 3. VarÄar</p>
    <p><i class="fas fa-beer"></i> Always drink responsibly <i class="fas fa-beer"></i></p>
    <!-- oh wow, you've made it to footer! none of free beers, sry :* -->
    <p><a href="https://t.me/Beersheep" target="_blank"><i class="fa-brands fa-telegram"></i> Telegram channel</a>
    </p>
    <p><a href="https://www.instagram.com/beersheep_/" target="_blank"><i class="fa-brands fa-square-instagram"></i>
            Instagram</a></p>
    <p><a href="https://www.facebook.com/BeerSheep1/" target="_blank"><i class="fa-brands fa-square-facebook"></i>
            Facebook</a></p>
</div>